<button mat-raised-button color="accent" [matMenuTriggerFor]="menu" class="button">
    <mat-icon>person</mat-icon> <span>Welcome {{username}}</span>
</button>
<mat-menu #menu="matMenu">
    <div class="container">
        <ng-contaoiner [ngTemplateOutlet]="footerTemplate"></ng-contaoiner>
    </div>
</mat-menu>

<ng-template #Guest>
    <button mat-raised-button color="primary" [routerLink]="'signin/login'">
        <mat-icon>login</mat-icon> Log in
    </button>
    <button mat-raised-button color="primary" [routerLink]="'signin/signup'">
        <mat-icon>person_add</mat-icon> Sign in
    </button>
</ng-template>

<ng-template #AuthenticatedUser>
    <button mat-raised-button color="primary" (click)="onUserManagementClick()">
        <mat-icon>settings</mat-icon> User Account Management
    </button>
    <button mat-raised-button color="warn" (click)="onLogout()">
        <mat-icon>logout</mat-icon> Log out
    </button>
</ng-template>