<button mat-button [matMenuTriggerFor]="menu">
    <mat-icon>person</mat-icon> <span>{{username}}</span>
</button>
<mat-menu #menu="matMenu">
    <div class="container">
        <div class="header">
            <span class="username">{{username}}</span>
        </div>
        <ng-contaoiner [ngTemplateOutlet]="footerTemplate"></ng-contaoiner>
    </div>
</mat-menu>

<ng-template #Guest>
    <div class="footer">
        <button mat-raised-button (click)="onsigin()">
           Signin
        </button>
    </div>
</ng-template>

<ng-template #AuthenticatedUser>
    <div class="footer">
        <button mat-raised-button color="primary" (click)="onUserManagementClick()">
            <mat-icon>settings</mat-icon> User Account Management
        </button>
        <button mat-raised-button (click)="onLogout()">
           Logout
        </button>
    </div>
</ng-template>