<mat-card class="container">
    <mat-card-content class="content" *ngIf="router.url.includes('favorid-addresses')">
        <nav mat-tab-nav-bar [tabPanel]="tabPanel" class="tab-nav-bar">
            <a mat-tab-link (click)="activeLink = 'public-favorid-addresses'" [active]="activeLink === 'public-favorid-addresses'"
                [routerLink]="'/public-favorid-addresses'">Public Addresses</a>
            <a *ngIf="(authService.loggedIn$ | async)" mat-tab-link (click)="activeLink = 'private-favorid-addresses'" [active]="activeLink === 'private-favorid-addresses'"
                [routerLink]="'/private-favorid-addresses'">Favorite Addresses</a>
        </nav>    
    </mat-card-content>
    <mat-tab-nav-panel #tabPanel>
        <router-outlet></router-outlet>
    </mat-tab-nav-panel>
</mat-card>