<mat-card class="container">
    <mat-card-content class="content">
        <div class="router-outlet">
            <router-outlet *ngIf="!loadingRouteConfig"></router-outlet>
            <ng-container *ngIf="loadingRouteConfig">
                <div id="floatingBarsG">
                    <div class="blockG" id="rotateG_01"></div>
                    <div class="blockG" id="rotateG_02"></div>
                    <div class="blockG" id="rotateG_03"></div>
                    <div class="blockG" id="rotateG_04"></div>
                    <div class="blockG" id="rotateG_05"></div>
                    <div class="blockG" id="rotateG_06"></div>
                    <div class="blockG" id="rotateG_07"></div>
                    <div class="blockG" id="rotateG_08"></div>
                </div>
            </ng-container>
        </div>
    </mat-card-content>
</mat-card>