.container {
    height: 100vh;
    padding: 0;
    background-color: #d4d6df;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .content {
        margin-bottom: 13px;
        flex: 1;
    }
    mat-card-footer {
        margin: 0;
    }
    .footer {
        text-align: center;
    }
}
