<mat-card class="container">
    <mat-card-header class="header">
        Edit Public Address
    </mat-card-header>
    <mat-card-content class="content">
        <app-address-edite-form [formGroup]="formGroup"></app-address-edite-form>
    </mat-card-content>
    <mat-card-footer class="footer">
        <button mat-raised-button color="primary" (click)="onSubmit()"
            [disabled]="!formGroup.dirty || !formGroup.valid">Save Changes</button>
        <button mat-raised-button color="warn" (click)="onDelete()">Delete Address</button>
    </mat-card-footer>
</mat-card>