<form [formGroup]="formGroup" (ngSubmit)="onSubmit()" class="form">
    <mat-form-field appearance="fill">
        <mat-label>New Password</mat-label>
        <input matInput type="password" formControlName="password">
        <mat-icon matPrefix aria-hidden="false" aria-label="vpn_key">vpn_key</mat-icon>
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Confirm New Password</mat-label>
        <input matInput type="password" formControlName="confirmPassword">
        <mat-icon matPrefix aria-hidden="false" aria-label="vpn_key">vpn_key</mat-icon>
        <mat-error *ngIf="formGroup.hasError('notSame')">
            <p class="caption status-danger">
                The password confirmation does not match.
            </p>
        </mat-error>
    </mat-form-field>
    <button mat-raised-button color="primary" type="submit"
        [disabled]="true" class="submit">
        This Function will be complete soon ...
    </button>
    <div class="error" *ngIf="error">
        <span class="error-text">*{{error}} </span>
    </div>
</form>